
:root {
  --paco-black-text: #292929 !important;
  --paco-grey-text: #757575 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.App-logo {
  height: 50px;
}

.paco {
  font: optional;
  margin: 0px 0px 0px 60px;
  
}

.pauta-page-title {
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--paco-black-text);
}

  .overviewTable{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 1px;
    margin-bottom: 100px;
    
    
  }

  .iconButton{
    margin-left: 950px

  }

  .tituloPautas{
    margin-left: 50px;
    margin-right: 50px;
  }

.pauta-page-container {
  margin: 0px 30px 80px 30px;
}

.text-link {
  color: var(--paco-grey-text);
  font-size: 12px;
}

.text-link:hover {
  color: var(--paco-black-text);
  text-decoration: underline;
}

.sheet-details-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}



.sheet-details {
  flex-grow: 1;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
  border: none;
  border-radius: 4px;
  margin-bottom: 20px;
}

.sheet-details button {
  margin-top: 70px;
  margin-left: 50px;
}
.sheet-details__title {
  font-size:  1.75rem;
  margin-left: 20px;
  margin-bottom: 10px;
}

.sheet-details__list {
  font-size: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 50px;
  margin-left: 50px;
}

.sheet-details__list li {
  margin-bottom: 20px; 
}


.graph-container {
  display: flex;
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}


