.App-logo {
    
    height: 50px;
  }

  .paco {
    font: optional;
    margin: 0px 0px 0px 60px;

  }


  /* .circle_btn{
 
    display:block;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid red;

  } */

  .overviewTable{
    margin-left: 50px;
    margin-right: 50px;
    
  }